<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="App-Config" content="fullscreen=yes,useHistoryState=yes,transition=yes"/>
    <meta content=yes name=apple-mobile-web-app-capable/>
    <meta content=yes name=apple-touch-fullscreen/>
    <meta content="telephone=no,email=no" name=format-detection/>
    <meta name="viewport"
          content="width=device-width,initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no,viewport-fit=cover">
    <title>umi-dva-antd-mobile</title>
    <link rel="icon" href="<%= BASE_URL %>favicon.ico">
</head>

<body>
    <noscript>Sorry, we need js to run correctly!</noscript>
    <div id="root"></div>
    <!-- built files will be auto injected -->
    <script src="//as.alipayobjects.com/g/component/fastclick/1.0.6/fastclick.js"></script>
    <script src="//cdn.bootcss.com/viewport-units-buggyfill/0.6.2/viewport-units-buggyfill.min.js"></script>
    <script src="//cdn.bootcss.com/viewport-units-buggyfill/0.6.2/viewport-units-buggyfill.hacks.min.js"></script>
    <script>
      window.onload = function () {
        window.viewportUnitsBuggyfill.init({
          hacks: window.viewportUnitsBuggyfillHacks
        });
        if ('addEventListener' in document) {
          document.addEventListener('DOMContentLoaded', function () {
            FastClick.attach(document.body);
          }, false);
        }
        if (!window.Promise) {
          document.writeln(
            '<script src="//as.alipayobjects.com/g/component/es6-promise/3.2.2/es6-promise.min.js"' + '>' + '<' +
            '/' + 'script>');
        }
      }
    </script>
</body>
</html>